.header{
    position:fixed;
    padding-left: 100px;
    display: flex;
    background-color: white;
    width:100%;
    border-bottom: 1px solid lightgray;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 60px;
    width:120px;
    margin-left: 150px;
}
.btn{
    padding-right:400px;
}
.header button{
    padding: 8px;
    width:75px;
    border-radius: 10px;
    border:none;
}
.login{
    background-color: rgba(58, 58, 253, 0.952);
    color:white;
}
.signup{
background-color: white;
color:blue;
}
.signup:hover{
    color:black;
}
.body{
    height:fit-content;
    margin-left:300px;
    margin-right:300px ;
    margin-top: 0;
    padding-top:0;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    width:600px;
    height:fit-content;
    padding-top: 100px;
    display:flex;
    align-items: center;
    gap:100px;
}
.glogo{
 height: 100px;
 width:100px;
 border-radius: 50%;
 border:1px solid lightgray;
 padding:15px;
}
.l1,.l2{
    display:flex;
    align-items: center;
}
.vlogo,.llogo{
    height:50px;
    width: 50px;
    margin-right: 20px;
}
.l1 button{
    border-radius: 10px;
    border:none;
    margin:5px;
    padding:10px;
    font:bold;
}
.l2{
    font-size: 13px;
    gap:20px;
}
.g{
    margin:0;
    margin-bottom: 5px;
}
.go{
    border-radius: 15px;
    border:none;
    text-align: center;
    padding:5px;
}
.blogo{
    height:20px;
    width:20px;
}
.c{
    height:100px;
    width:100px;
    border-radius: 50%;
    border:1px solid grey;
    padding:3px;
}
.circles{
    display:flex;
    gap:10px;
    justify-content:center;
}
.c1{
    background-color: darkblue;
}
.c2{
    background-color: blue;
}
.c3{
    background-color: green;
}
.c4{
    background-color: yellow;
}
.c5{
    background-color: red;
}